ClientA/Service References/ServiceReference1/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56143/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="ArrayOfChamppion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Champpion" nillable="true" type="tns:Champpion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChamppion" nillable="true" type="tns:ArrayOfChamppion" />
  <xs:complexType name="Champpion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="picture" nillable="true" type="q1:Bitmap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Champpion" nillable="true" type="tns:Champpion" />
  <xs:complexType name="ArrayOfPlayers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Players" nillable="true" type="tns:Players" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayers" nillable="true" type="tns:ArrayOfPlayers" />
  <xs:complexType name="Players">
    <xs:sequence>
      <xs:element minOccurs="0" name="advisorTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:int" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="pictureArrByte" nillable="true" type="q2:Bitmap" />
      <xs:element minOccurs="0" name="playerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Players" nillable="true" type="tns:Players" />
  <xs:complexType name="ArrayOfMyGames">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyGames" nillable="true" type="tns:MyGames" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyGames" nillable="true" type="tns:ArrayOfMyGames" />
  <xs:complexType name="MyGames">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstPlayer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gameId" type="xs:int" />
      <xs:element minOccurs="0" name="gameMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secondPlayer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="winner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyGames" nillable="true" type="tns:MyGames" />
  <xs:complexType name="ArrayOfcities">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cities" nillable="true" type="tns:cities" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcities" nillable="true" type="tns:ArrayOfcities" />
  <xs:complexType name="cities">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cities" nillable="true" type="tns:cities" />
</xs:schema>